<rxjs-operator-content
  [title]="title"
  [text]="text"
>
  <div class="input-group mb-3">
    <span
      class="input-group-text"
      id="basic-addon1"
    >W
    </span>
    <input
      #weight
      type="text"
      class="form-control"
      placeholder="Weight"
      aria-label="Weight"
      aria-describedby="basic-addon1"
    >
  </div>

  <div class="input-group mb-3">
    <span
      class="input-group-text"
      id="basic-addon1"
    >H
    </span>
    <input
      #height
      type="text"
      class="form-control"
      placeholder="Height"
      aria-label="Height"
      aria-describedby="basic-addon1"
    >
  </div>

  <div class="input-group mb-3">
    <span
      class="input-group-text"
      id="basic-addon1"
    >B
    </span>
    <input
      #bmi
      type="text"
      class="form-control"
      placeholder="BMI"
      aria-label="BMI"
      aria-describedby="basic-addon1"
    >
  </div>
</rxjs-operator-content>
